@ViewData.Eval("Make")
@*@model dynamic*@

@{
    List<string> makes = new() { "Fiat", "Ford", "Kia", "Mazda", "Mercedes-Benz", "Opel", "Toyota", "VW" };
}

<option value="">-Select Make-</option>
@foreach (var make in makes)
{
    bool select = make == Model.Make;
    <option value="@make" selected=@select>@make</option>
}
