@using CarRental.Common;

@{
    List<int> years = new();
    int presentYear = DateTime.Now.Year;

    for (int year = AppConfig.CarYearMinValue; year <= presentYear; year++)
    {
        years.Add(year);
    }
}
<option value="">-Select production year-</option>

@foreach (var year in years)
{
    if (Model != null)
    {
        bool select = (year == Model.Year);
        <option value="@year" selected=@select>@year</option>
    }
}
