@using CarRental.Common.Enums;
@model CarRental.Logic.Models.CarViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Edit Car</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Make" class="control-label"></label>
                    <select asp-for="Make" id="" name="Make" class="form-control">
                        <partial name="_AvailableOptionsForMake" , new { Make="@Model.Make" } />
                    </select>
                    <span asp-validation-for="Make" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CarModelProp" class="control-label"></label>
                    <input asp-for="CarModelProp" class="form-control" />
                    <span asp-validation-for="CarModelProp" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Year" class="control-label"></label>
                    <select asp-for="Year" id="" name="Year" class="form-control">
                        <partial name="_AvailableOptionsForYear" , new { Year="@Model.Year" } />
                    </select>
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Transmission" class="control-label"></label>
                    @Html.DropDownList("Transmission", Html.GetEnumSelectList<TransmissionType>(),
                    "-Select transmission type-", new { @class="form-control"})
                </div>
                <div class="form-group">
                    <label asp-for="EngineType" class="control-label"></label>
                    @Html.DropDownList("Engine Type", Html.GetEnumSelectList<EngineType>(),
                    "-Select engine type-", new {@class = "form-control"})
                </div>
                <div class="form-group">
                    <label asp-for="LicencePlateNumber" class="control-label"></label>
                    <input asp-for="LicencePlateNumber" class="form-control" oninput="this.value = this.value.toUpperCase()" />
                    <span asp-validation-for="LicencePlateNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Kilometrage" class="control-label"></label>
                    <input asp-for="Kilometrage" class="form-control" />
                    <span asp-validation-for="Kilometrage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PowerInKiloWats" class="control-label"></label>
                    <input asp-for="PowerInKiloWats" class="form-control" />
                    <span asp-validation-for="PowerInKiloWats" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Displacement" class="control-label"></label>
                    <input asp-for="Displacement" class="form-control" />
                    <span asp-validation-for="Displacement" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Doors" class="control-label"></label>
                    <select asp-for="Doors" id="" name="Doors" class="form-control">
                        @{
                            await Html.RenderPartialAsync("_AvailableOptionsForInteger",
                            new { MinValue = 3, MaxValue = 10, Prompt = "-Select number of doors-" });
                        }
                    </select>
                    <span asp-validation-for="Doors" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SeatsNo" class="control-label"></label>
                    <select asp-for="SeatsNo" id="" name="SeatsNo" class="form-control">
                        @{
                            await Html.RenderPartialAsync("_AvailableOptionsForInteger",
                            new { MinValue = 2, MaxValue = 15, Prompt = "-Select number of seats-" });
                        }
                    </select>
                    <span asp-validation-for="SeatsNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Airbags" class="control-label"></label>
                    <select asp-for="Airbags" id="" name="Airbags" class="form-control">
                        @{
                            await Html.RenderPartialAsync("_AvailableOptionsForInteger",
                            new { MinValue = 3, MaxValue = 10, Prompt = "-Select number of airbags-" });
                        }
                    </select>
                    <span asp-validation-for="Airbags" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FuelConsumption" class="control-label"></label>
                    <input asp-for="FuelConsumption" class="form-control" />
                    <span asp-validation-for="FuelConsumption" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <label asp-for="Addons" class="control-label"></label>
                <partial name="_AvailableOptionsForAddons" , new { Addons=@Model.Addons } />

                <div class="form-group">
                    @*<input type="submit" value="Save" class="btn btn-primary" />*@
                    <button type="submit" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Save data">
                        <i class="bi bi-database-add"> Save</i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <partial name="Buttons/_ButtonBackToList" />
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>
