@model IEnumerable<CarRental.Web.Models.CarListModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<
<div class="row">
@foreach (var item in Model)
    {
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.CarModel</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.Make</h6>
                <p class="card-text">@item.CarModel</p>
                <a class="btn btn-primary" asp-controller="CarController" asp-action="Details">Details</a>
            </div>
        </div>
    }
    </div>

    


