@model CarRental.Logic.Models.CarViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Car Details</h2>
        </div>
    </div>
    <hr />

    <div>
        <partial name="_DetailsTable" />
        <div class="mb-3 col-6">
            <label for="Description" class="form-label">Description</label>
            <textarea class="form-control" rows="6" disabled readonly>@Model.Description</textarea>
        </div>
    </div>

    <div>
        <partial name="Buttons/_ButtonEdit-2" />
        <partial name="Buttons/_ButtonBackToList" />
    </div>
    <div>
        <button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Rent this Car">
            <a asp-controller="Rental" asp-action="Create" class="none-underline text-black">
                Rent this Car
            </a>
        </button>
        <button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Return this Car">
            <a asp-action="Return" class="none-underline text-black">
                Return this Car
            </a>
        </button>
    </div>
</div>
