@using CarRental.Logic.Models;
@model RentalCreateViewModel

@{
    ViewData["Title"] = "Create";
}



<h4 id="output">
</h4>
<h4 id="output-total-cost"><</h4>
<!-- =============================== -->


<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Add New Rental</h2>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label"></label>
                    <select asp-for="CustomerId" id="" name="CustomerId" class="form-control">
                        <partial name="_AvailableOptionsForCustomer" , new { Customers="@Model.Customers" } />
                    </select>
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CarId" class="control-label"></label>
                    <select asp-for="CarId" id="" name="CarId" class="form-control">
                        <partial name="_AvailableOptionsForCar" , new { Cars="@Model.Cars" } />
                    </select>
                    <span asp-validation-for="CarId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BeginDate" class="control-label"></label>
                    <input id="calBeginDate" asp-for="BeginDate" class="form-control begin-date" />
                    <span class="validity"></span>
                    <span asp-validation-for="BeginDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input id="calEndDate" asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalCost" class="control-label"></label>
                    <input asp-for="TotalCost" class="form-control" />
                    <span asp-validation-for="TotalCost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <partial name="Buttons/_ButtonBackToList" />
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script type="text/javascript">
        const selectElement = document.querySelector(".begin-date");
        selectElement.addEventListener("change", (event) => {
            console.log(`You like ${event.target.value}`);
            //getEmployees();
            var beginDate = document.getElementById('calBeginDate').Value;
            var endDate = document.getElementById('calEndDate').Value;
            console.log(`begin: ${beginDate}, end: ${endDate}`);
            getTotalCost();
        });

        function getEmployees() {
            $.ajax({
                type: "GET",
                url: 'GetEmpList',
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    console.log("run before send");
                },
                success: function (response) {
                    // Looping over emloyee list and display it
                    $.each(response, function (index, emp) {
                        $('#output').append(emp + '<br/>');
                        //$('#output').append(emp[0].id);
                        //$('#output').append('<p>Id: ' + emp[0].Id + '</p>' +
                        //    '<p>Id: ' + emp[0].Name + '</p>');
                    });
                    console.log("run on success");
                },
                complete: function () {
                    console.log("run on complete")
                },
                failure: function (jqXHR, textStatus, errorThrown) {
                    alert("HTTP Status: " + jqXHR.status + "; Error Text: " + jqXHR.responseText); // Display error message
                }
            });
        }

        function getTotalCost() {
            $.ajax({
                type: "GET",
                url: 'GetTotalCost',
                data: {
                    carId: 1, 
                    beginDate: "2023-05-01T15:00:00",
                    endDate: "2023-05-11T15:00:00"
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    console.log("run before send");
                },
                success: function (response) {
                    $.each(response, function (index, totalCost) {
                        $('#output-total-cost').append(totalCost);
                    });
                    console.log("run on success");
                },
                complete: function () {
                    console.log("run on complete")
                },
                failure: function (jqXHR, textStatus, errorThrown) {
                    alert("HTTP Status: " + jqXHR.status + "; Error Text: " + jqXHR.responseText); // Display error message
                }
            });
        }
    </script>
}
