@using CarRental.Logic.Models;
@model RentalCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Add New Rental</h2>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label"></label>
                    <select asp-for="CustomerId" id="" name="CustomerId" class="form-control">
                        <partial name="_AvailableOptionsForCustomer" , new { Customers="@Model.Customers" } />
                    </select>
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CarId" class="control-label"></label>
                    <select id="car" asp-for="CarId" id="" name="CarId" class="form-control">
                        <partial name="_AvailableOptionsForCar" , new { Cars="@Model.Cars" } />
                    </select>
                    <span asp-validation-for="CarId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BeginDate" class="control-label"></label>
                    <input id="calBeginDate" asp-for="BeginDate" class="form-control begin-date" />
                    <span class="validity"></span>
                    <span asp-validation-for="BeginDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input id="calEndDate" asp-for="EndDate" class="form-control end-date" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalCost" class="control-label"></label>
                    <input disabled id="total-cost" asp-for="TotalCost" class="form-control" />
                    <span asp-validation-for="TotalCost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <partial name="Buttons/_ButtonBackToList" />
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script type="text/javascript">
        const elemCalBegin = document.querySelector(".begin-date");
        const elemCalEnd = document.querySelector(".end-date");
        const elemCar = document.querySelector("#car");
        var beginDate;
        var endDate;
        var rentalTotalCost = null;
        var carId = null;

        elemCar.addEventListener("change", (event) => {
            carId = document.getElementById('car').value;
            //carId = event.target.value;
            console.log(`Selected car with id = ${carId}`);
            getTotalCost(beginDate, endDate);
            console.log("agter getTotalCost");
        });

        elemCalBegin.addEventListener("change", (event) => {
            beginDate = event.target.value;
            console.log(`Begin date selected: ${beginDate}`);
            getTotalCost(beginDate, endDate);
        });

        elemCalEnd.addEventListener("change", (event) => {
            endDate = event.target.value;
            console.log(`End date selected: ${endDate}`);
            getTotalCost(beginDate, endDate);
        });

        function getTotalCost(beginDate, endDate) {
            $.ajax({
                type: "GET",
                url: 'GetTotalCost',
                data: {
                    "carId": carId,
                    "beginDate": beginDate,
                    "endDate": endDate
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    console.log("run before request send");
                },
                success: function (response) {
                    document.getElementById('total-cost').value = parseFloat(response).toFixed(2);
                    console.log("run on success");
                },
                complete: function () {
                    console.log("run on complete")
                },
                failure: function (jqXHR, textStatus, errorThrown) {
                    alert("HTTP Status: " + jqXHR.status + "; Error Text: " + jqXHR.responseText); // Display error message
                }
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            carId = document.getElementById('car').value;
            beginDate = document.getElementById('calBeginDate').value;
            endDate = document.getElementById('calEndDate').value;
            console.log(`after page loaded: ${beginDate} ${endDate} ${carId}`);
        });

    </script>
}
