@using CarRental.Logic.Models;
@using CarRental.Web.Components;
@model RentalViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Rental Details</h2>
        </div>
    </div>
    <hr />

    <div>
        <partial name="_DetailsTable" />
    </div>

    <div>
        @await Component.InvokeAsync("RentalTerms", new { Id = Model.CarId })
    </div>

    <div>
        <partial name="Buttons/_ButtonEdit-2" />
        <partial name="Buttons/_ButtonBackToList" />
    </div>
</div>