@using CarRental.Logic.Models;
@model RentalCreateViewModel  // TODO - change to RentalEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Edit Rental</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label"></label>
                    <select asp-for="CustomerId" id="" name="CustomerId" class="form-control">
                        <partial name="_AvailableOptionsForCustomer" , new { Customers="@Model.Customers" } />
                    </select>
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CarId" class="control-label"></label>
                    <select asp-for="CarId" id="" name="CarId" class="form-control">
                        <partial name="_AvailableOptionsForCar" , new { Cars="@Model.Cars" } />
                    </select>
                    <span asp-validation-for="CarId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BeginDate" class="control-label"></label>
                    <input asp-for="BeginDate" class="form-control" />
                    <span asp-validation-for="BeginDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalCost" class="control-label"></label>
                    <input asp-for="TotalCost" class="form-control" />
                    <span asp-validation-for="TotalCost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Save data">
                        <i class="bi bi-database-add"> Save</i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <partial name="Buttons/_ButtonBackToList" />
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
