@using CarRental.Logic.Models;
@model IEnumerable<RentalViewModel>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/index-tables.css" />

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <input type="text" id="filterInput" onkeyup="filterFunction()" placeholder=" Search in table..."
                   maxlength="50">

            <button id="clear-button" type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Clear search field"
                    onclick="clearFilterInput()">
                <i class="bi bi-eraser"></i>
            </button>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Rental" asp-action="Create" class="btn btn-primary text-dark"
               data-bs-toggle="tooltip" data-bs-placement="top" title="Add new rental">
                <i class="bi bi-plus-circle text-dark"></i> &nbsp; Add Rental
            </a>
        </div>
    </div>

    <div>
        <partial name="_RentalListTable" , model="Model" />
    </div>
</div>
