@using CarRental.Web.Controllers;
@using CarRental.Logic.Models;
@model SearchViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="p-0 text-center bg-image home-image">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.2); height: 500px;">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white home-container">
                <h1>Car Rental – Search, Compare & Save</h1>
                <h2>Free cancellations on most bookings 60,000+ locations Customer support in 40+ languages</h2>
                <form class="d-flex pt-3" asp-controller="Search" asp-action="SearchFromHome" method="post">
                    <input class="form-control shadow-sm me-2 search opacity-75  " asp-for="SearchDto.ModelAndMake" type="text" placeholder="Search" aria-label="Search">
                    <select asp-for="SearchDto.ProductionYearFrom" id="" name="Year" class="form-control year shadow-sm opacity-75 me-2">
                        <partial name="_AvailableOptionsForYearFrom" , new { Year=-1 } />
                    </select>
                    <select asp-for="SearchDto.ProductionYearTo" id="" name="Year" class="form-control year shadow-sm opacity-75 me-2">
                        <partial name="_AvailableOptionsForYearTo" , new { Year=-1 } />
                    </select>

                    <input type="date" class="form-control shadow-sm me-2 date opacity-75" asp-for="SearchDto.StartDate" />
                    <input type="date" class="form-control shadow-sm me-2 date opacity-75" asp-for="SearchDto.EndDate" />
                    <button class="btn btn-outline-success shadow-sm fw-bold" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var item in Model.Cars)
            {
                <div class="card col-3 me-4 mt-4 shadow" style="width: 18rem;">
                    <img class="card-img-top" src="images/car-1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Make</h5>
                        <p class="card-text">@item.CarModelProp | Production Year @item.Year</p>
                        <a class="btn btn-outline-success fw-bold" asp-controller="Car" asp-action="Details" asp-route-id="@item.Id">Show details</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

