
<button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Back to List">
    <a asp-action="Index">
        <i class="bi bi-arrow-left"> Back to List</i>
    </a>
</button>