
<button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete element">
    <a asp-action="Delete" asp-route-id="@Model.Id">
        <i class="bi bi-trash"></i>
    </a>
</button>