
<button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit item">
    <a asp-action="Edit" asp-route-id="@Model.Id">
        <i class="bi bi-pencil-square"> Edit</i>
    </a>
</button>