@model CarRental.Web.Models.SearchViewModel

@{

    ViewData["Title"] = "Index";
    var dto = Model.SearchViewModelDto;
}
<div class="container">
    <h1>Index</h1>
    <form method="post">
        <div class="input-group mb-3">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
            <ul class="dropdown-menu checkbox-menu allow-focus">
                @foreach (var make in Model.Cars.Select(car => car.Make).Distinct())
                {
                    <li>
                        <label>
                            <input type="checkbox" asp-for="SearchViewModelDto.SelectedMakes[make]" value="@make">@make
                        </label>
                    </li>
                }
            </ul>
            <button class="btn" type="submit" asp-action="Cops">Ngr</button>
        </div>
    </form>
    @foreach (var item in Model.Cars)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/car-1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.CarModel title</h5>
                <p class="card-text">@item.Make @item.Id</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
</div>


