@model CarRental.Web.Models.SearchViewModel

@{

    ViewData["Title"] = "Index";
    var dto = Model.SearchViewModelDto;
}
<div class="container">
    <h1>Index</h1>
    <form method="post">
        <div class="input-group mb-3">
            <div class="search-container">
                <div class="row">
                    <button class="btn btn-outline-secondary dropdown-toggle makes col-sm-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false">Make</button>
                    <ul class="dropdown-menu checkbox-menu allow-focus">
                        @foreach (var make in Model.Cars.Select(car => car.Make).Distinct())
                        {
                            <li>
                                <label>
                                    <input type="checkbox" asp-for="SearchViewModelDto.Makes[make]" value="@true">@make
                                </label>
                            </li>
                        }
                    </ul>
                    <div class="col-sm-auto">
                        <input class="form-control me-2 search" asp-for="SearchViewModelDto.ModelAndMake" type="text" placeholder="Search" aria-label="Search">
                    </div>
                    <div class="col-sm-auto">
                        <input class="form-control year" asp-for="SearchViewModelDto.ProductionYearFrom" />
                    </div>
                    <div class="col-sm-auto">
                        <input class="form-control year" asp-for="SearchViewModelDto.ProductionYearTo" />
                    </div>
                    <div class="row">
                        <div class="col-sm-auto">
                            <input type="date" class="form-control date" asp-for="SearchViewModelDto.StartDate" />
                        </div>
                        <div class="col-sm-auto">
                            <input type="date" class="form-control date" asp-for="SearchViewModelDto.EndDate" />
                        </div>
                        <div class="col-sm-auto">
                            <button class="btn" type="submit" asp-action="Search">bbb</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    @foreach (var item in Model.Cars)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/car-1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.CarModel title</h5>
                <p class="card-text">@item.Make @item.Id</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
</div>


