@model IEnumerable<(string, string)>

<style>
table {
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
    }
    td {
        padding: 2px;
    }
</style>

<h6>This car booked in terms</h6>
<table>
    <thead>
        <tr>
            <th scope="col">
                Begin Date
            </th>
            <th scope="col">
                End Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item2)
                </td>
            </tr>
        }
    </tbody>
</table>
