@ViewData.Eval("Year")
@*@model dynamic*@

@{
    List<int> years = new();
    int presentYear = DateTime.Now.Year;

    for (int year = presentYear - 15; year <= presentYear; year++)
    {
        years.Add(year);
    }

    string modelAlert = @Model == null ? "Model=null" : "Model != null";

}
<option value="">-Year from-</option>

@foreach (var year in years)
{
    if (Model != null)
    {
        <option value="@year">@year</option>
    }
    else
    {
        <option value="@year">@year</option>
    }
}
