@model IEnumerable<CarRental.Web.Models.CarListModel>

@{

}

 @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/car-1.jpg" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">@item.CarModel title</h5>
                <p class="card-text">@item.Make @item.Id</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }