
.btn-customer-pesel {
    background-color: lightgray;
    border: none;
    color: black;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    width: 12ch;
    border: 1px dotted black;
}

caption {
    background: hsl(0 0% 0%);
    caption-side: top;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 1rem;
    text-align: left;
    text-transform: uppercase;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: lightgray;
    color: black;
    padding: 1rem;
}

tr:nth-of-type(2n) {
    background: hsl(0 0% 0% / .1);
}

th {
    background: hsl(0 0% 0% / .5) !important;
}

td {
    padding: 1rem;
}

input {
    margin-bottom: 0.75rem;
    width: 50ch;
    height: 2rem;
    border: 1px solid black;
}

#clear-button {
    margin-bottom: 0.75rem;
}
