html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    display: grid;
}

.navbar {
    background-color: dimgray;
}

.navbar-brand {
    word-break: keep-all !important;
}

.container-main {
    min-height: 600px;
}

.search {
    max-width: 300px;
}

.year {
    max-width: 150px;
    margin-right: 1.5px;
    margin-left: 1.5px;
}

.date {
    max-width: 100px;
    margin-right: 1.5px;
    margin-left: 1.5px;
}

.d-flex {
    justify-content: center;
}

.btn {
    background-color: antiquewhite !important;
}

.btn-secondary {
    color: blue;
}


/* custom styles */
.custom-background {
    background-color: green !important;
}

/* trash icon button */
.bi-trash, .bi-pencil-square, .bi-eye {
    color: black;
    font-size: 1.2em;
    padding: 0px;
    /*border: 1px solid black;*/
    margin-right: 0px;
}

.bi-pencil-square {
}

.app-button {
    margin-right: 0.5em;
    margin-top: 5px;
}
