html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.search-container{ 
    
}
body {
  margin-bottom: 60px;
  display: grid;
}

.navbar {
   background-color: dimgray;
}

.navbar-brand {
    word-break:keep-all!important;
}

.container-main {
    min-height: 600px;
}
.search {
    max-width: 300px;
}

.year {
    max-width: 150px;
    margin-right: 1.5px;
    margin-left: 1.5px;
}

.date {
    max-width: 100px;
    margin-right: 1.5px;
    margin-left: 1.5px;
}

.d-flex {
    justify-content:center;
}

.btn {
    background-color: brown;
    color :aliceblue
}
.footer {
    background-color: gray;
    color: white;
}

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin: 0;
    transition: background-color .4s ease;
}
.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu li.active label {
    background-color: #cbcbff;
    font-weight: bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}