@model CarRental.Models.EmailData


<h4 class="text-info mt-4">Send Email</h4>
<hr class="text-info" />
<div class="alert alert-info alert-dismissible fade show text-secondary indexText" role="alert">
    <h5 class="text-info mt-3">This is an Email sender page</h5>

    <a asp-controller="EmailData" asp-action="SendEmail" class="btn btn-outline-info mt-2">Go to Send Email</a>

</div>


